/analysis/database.R
/analysis/.Rhistory
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log
*.err
*.pot

# Sphinx documentation
docs/_build/

# directories
tmp/

# Idea
/.idea/

/python3-venv/
/python2-venv/

code/test_stuff