[Unit]
Description=Commuter Simulation Server
After=network-online.target
Wants=network-online.target
Requires=commuter-simulation-sink.service

[Service]
Type=simple
User=benjamin
WorkingDirectory=/home/benjamin/workspace/commuter-simulation/code
Environment=VIRTUAL_ENV=/home/benjamin/workspace/commuter-simulation/python3-venv
Environment=PATH=/home/benjamin/workspace/commuter-simulation/python3-venv/bin
Environment=PYTHONPATH=/home/benjamin/workspace/commuter-simulation/code
ExecStart=/usr/bin/env /home/benjamin/workspace/commuter-simulation/code/commuter_simulation.py server --mode first
StandardOutput=tty
TTYPath=/dev/tty7
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
